@model Hub.IdentityServer.Areas.Account.Controllers.Logout.LogoutViewModel

<style type="text/css">
    .logout-container {
        margin: 0 auto;
        width: 350px;
        text-align: center;
    }

    .logout-content__link {
        color: #000;
        font-size: 1.3em;
        background: #98c93c;
        border: 0;
        padding: 3px 35px;
        margin-top: 20px;
        border-radius: 3px;
    }
</style>

<div class="logout-container">

    <div class="logout-container__logo">
        <img class="img-fluid logo-poatek" src="~/images/poatek_logo.png" />
    </div>

    <div class="login-container__content">
        <div>
            <p>Would you like to logout of your Poatek account?</p>
            <form asp-action="Index">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />

                <div class="form-group">
                    <button class="logout-content__link">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>