@model Hub.IdentityServer.Areas.Account.Controllers.Logout.LoggedOutViewModel

<style type="text/css">
    .logout-container {
        margin: 0 auto;
        width: 350px;
        text-align: center;
    }

    .signout {
        display: none;
    }
</style>

<div class="logout-container">
    <div class="logout-container__logo">
        <img class="img-fluid logo-poatek" src="~/images/poatek_logo.png" />
    </div>
    <p>You are now logged out!</p>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to <span>@Model.ClientName</span>.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut && Model.PostLogoutRedirectUri != null)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
